#sidebar {
    top: 0;
    bottom: 0;
    z-index: 1;
    position: fixed;
    overflow: hidden;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    // left: -$sidebar-width;
    left: 0;
    width: $sidebar-width;
    background: #273135;

    #avatar {
        height: 4.5rem;

        img {
            position: relative;
            top: 1rem;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            vertical-align: middle;
        }
        #avatar-info {
            color: white;
            top: 1.3rem;
            position:relative;
            .name {
                font-weight: bold;
                line-height: 1rem;
                font-size: 1rem;
            }
            .position {
                font-size: 0.8rem;
                margin-top: -0.2rem;
            }
        }
    }

    .sidebar-header {
        line-height: 1;
        color: rgba(137,148,155,0.4);
        padding-left: 1.3rem;
        padding-top: 1.3rem;
        padding-bottom: 0.8rem;
        font-size: 0.8rem;
        text-transform: uppercase;
        font-weight: bold;
    }

    #sidebar-container {
        bottom: 0;
        width: $sidebar-width;
        overflow: hidden;
        position: absolute;
        top: 4.5rem;

        .sidebar {
            top: 0;
            bottom: 0;
            width: $sidebar-width;
            overflow-x: hidden;
            overflow-y: scroll;
            position: absolute;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }


    }

    .sidebar-nav-container {
        > .sidebar-nav {
            padding: 0;
            border: none;
            margin: 0 -15px 0 -15px;


            > li {
                &:before {
                    display: none
                }

                > a {
                    font-size: 1rem;
                }
            }

        }
    }


    .sidebar-nav {
        margin-left: 1.5rem;
        border-left: 1px solid rgba(59,70,72,0.5);

        > li {
            padding: 0;
            outline: none;
            cursor: pointer;
            overflow: hidden;
            position: relative;


            &:before {
                left: 0;
                top: 22px;
                width: 15px;
                content: ' ';
                position: absolute;
                display: inline-block;
                border: 1px solid rgba(59,70,72,0.5);
            }

            > a {
                text-decoration: none;
                padding: 1rem 1.3rem;
                display: block;
                color: $sidebar-font-color;
                font-size: 1rem;
                position: relative;


                line-height: 1;

                .fa {
                    width: 1.1rem;
                    height: 1.1rem;
                    line-height: 1;
                    font-size: 1rem;
                    margin-right: 0.5rem;

                }

                .toggle-button.fa {
                    position: absolute;
                    top: 1rem;
                    right: 0.8rem;
                    margin: 0;
                }

                > span {
                    > .label {
                        font-size: 0.8rem;
                        float: right;
                        margin-top: -3px;
                        padding: 5px 10px;
                        margin-right: 1.5rem;
                    }
                }

                &:hover {
                    background: rgba(0,0,0,0.2);
                }
            }

            &.active {
                background: rgba(0,0,0,0.2);

                a {
                    border-left: solid 0.3rem $orange-color;
                    padding-left: 1rem;
                }

                &:before {
                    display: none
                }

            }
        }
    }

    & ~ #body {
        margin-left: $sidebar-width;
    }

}

.label {
    display: inline;
    padding: .2rem .4rem .3rem;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}